<?xml version="1.0"?>
<launch>
	
	<!-- interpolated IK -->
	<node pkg="interpolated_ik_motion_planner" name="interpolated_ik_node" type="interpolated_ik_motion_planner.py" args="r" output="screen" respawn="false">
		<remap from="/pr2_right_arm_kinematics/get_ik" to="/youbot_arm_kinematics/get_ik" />
		<remap from="/pr2_right_arm_kinematics/get_constraint_aware_ik" to="/youbot_arm_kinematics/get_constraint_aware_ik" />
		<remap from="/pr2_right_arm_kinematics/get_fk" to="/youbot_arm_kinematics/get_fk" />
		<remap from="/pr2_right_arm_kinematics/get_ik_solver_info" to="/youbot_arm_kinematics/get_ik_solver_info" />
		<remap from="r_interpolated_ik_motion_plan_set_params" to="interpolated_ik_motion_plan_set_params" />
		<remap from="r_interpolated_ik_motion_plan" to="interpolated_ik_motion_plan" />
	</node>

</launch>