<?xml version="1.0"?>
<launch>

	<node pkg="move_arm" type="move_arm_simple_action" name="move_arm" output="screen">
		<remap from="arm_ik" to="youbot_arm_kinematics/get_constraint_aware_ik" />
		<remap from="arm_fk" to="youbot_arm_kinematics/get_fk" />
		<remap from="/trajectory_filter_server/filter_trajectory_with_constraints" to="trajectory_filter/filter_trajectory_with_constraints" />
		
		<param name="group" type="string" value="arm" />
		<param name="ik_allowed_time" type="double" value="2.0" />
		<param name="trajectory_filter_allowed_time" type="double" value="2.0" />
		<param name="controller_action_name" type="string" value="/arm_1/arm_controller/joint_trajectory_action" />
	</node>

</launch>
